#########
# FILES #
#########
*.env*
*.log
*.mjs
*.mongodb
*.tsbuildinfo
.DS_Store
.eslintcache
build.zip
compass.yaml
!compass.example.yaml
.mcp.json
.playwright-compass.yaml

########
# DIRS #
########
.vscode/
blob-report/
build/
buildcache/
logs/
/handoff/
node_modules/
packages/backend/logs
packages/backend/build
packages/backend/node_modules
packages/core/build/
packages/web/node_modules/
packages/web/build/
playwright-report/
test-results/
tmp/
