# files
build.zip
.DS_Store
.vscode/
.idea/
.eslintcache

# wildcard files
.env*
*.log
*.tsbuildinfo

# root dirs
node_modules/
# where build files are currently located on production
prod/

#core
packages/core/build/

# web
packages/web/node_modules/
packages/web/build/

# backend
packages/backend/logs
packages/backend/build
packages/backend/node_modules

# electron
electron/localization/locales/en/translation.missing.json